*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f5f5;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;


}

.container{
    width:1400px;
    height:850px;
    background:lightblue;
    display:flex;
    box-shadow:0 20px 60px rgba(0,0,0,.15);
}

/* Sidebar */

.sidebar{
    width:260px;
    border-right:1px solid #ececec;
    padding:40px 30px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.profile{
    text-align:center;
}

.profile img{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}

.profile h2{
    font-size:20px;
    color:orange;
}

.profile p{
    color:#777;
    font-size:14px;
}

nav ul{
    list-style:none;




}

nav li{
    margin:18px 0;
    width: 110px;
    text-align: center;


}

nav a{
    text-decoration:none;
    color:#666;
    font-size:13px;
    transition:.3s;
    color:red;

}

nav a:hover,
nav .active{
    color:#000;
    font-weight:600;

}

.sidebar-footer{
    font-size:13px;
    color:#999;
}



/* Hero */

.hero{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px;
}

.hero-content{
    max-width:450px;
}

.tag{
    letter-spacing:3px;
    font-size:12px;
    color:#999;
}

.hero-content h1{
    font-family:'Playfair Display', serif;
    font-size:72px;
    line-height:1.1;
    margin:20px 0;
    color:#111;
    color:black;
}

.hero-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    padding:14px 32px;
    border:1px solid #111;
    text-decoration:none;
    color:#111;
    font-weight:500;
    transition:.3s;
}

.btn:hover{
    background:#111;
    color:#fff;
}

.hero-image{
    width:400px;
    height:290px;
    margin-bottom:50%;
    text-align: center;
}


.hero-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    filter:grayscale(100%);
}

/* Responsive */

@media(max-width:1000px){

    .container{
        flex-direction:column;
        height:auto;
        width:95%;
    }

    .sidebar{
        width:100%;
        border-right:none;
        border-bottom:1px solid #eee;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        gap:40px;
    }

    .hero-content h1{
        font-size:55px;
        color:blue;
    }

    .hero-image{
        width:100%;
        height:auto;
    }

    .hero-image img{
        height:auto;
    }
}
body{
    background-image: url("n.jfif"); 
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    height: 150vh;
    margin: 0;
}
.zoro {
    display: inline-block;
    background-color:#15376d;
    color:#fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.zoro:hover {
    background-color:lightblue;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
a {
    text-decoration: none;
    color:#333;
    transition: color 0.3s ease;
}

a:hover {
    color: #15376d;
    text-decoration: underline;
}  

